/**
 * Factions
 */
.faction-container {
  width: 65%;
}

.faction {
  padding: 0 0 .5em 1em;
  margin-top: 3em;
  color: $black;
}

.flavor {
  font-style: italic;
  margin-top: 0;
}

.power {
  width: 100%;
  background-color: $Gray;
  border: 2px solid $Gray26;
  padding: .5em;
  min-height: 3em;
}

.level1 {
  border-color: $Green;
  background-color: $Feijoa;
}

.die-mech{
  border-left: 15px solid $Mech;
}

.saharan {
  border-left: 15px solid $Saharan;

}

.khan {
  border-left: 15px solid $Khan;
}

.imperial {
  border-left: 15px solid $Imperial;
}

.enclave {
  border-left: 15px solid $Enclave;
}

